@charset "UTF-8";

/* 回答はここに書いてね */

.text{
  font-size:18px;
  line-height: 22px;
  word-break: break-all;
}
.boxcontainer{
  width: 900px;
  background: #eff3f4;
  margin: 0 auto;
  padding: 20px;

}

.thumb{
 margin-bottom: 10px;
}

.left{
  float: left;
  margin-right: 20px;

}
.right{
  float: right;
  margin-left: 20px;
}

/* 回答はここに書いてね */
