@charset "UTF-8";

/* 回答はここに書いてね */

.text{
  font-size:18px;
  line-height: 22px;
  word-break: break-all;
}
.boxcontainer{
  width: 900px;
  background: #eff3f4;
  margin: 0 auto;
  padding: 20px;

}

.box1{
  margin: 20px;
  margin-bottom: 0;
}

.box2{
  margin: 20px;
  margin-top: 0;
}

.img1{
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  }

.img2{
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;

}
/* 回答はここに書いてね */
