@charset "UTF-8";

/* 回答はここに書いてね */

.text{
  font-size: 16px;
  line-height: 16px;
  padding:20px;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.boxcontainer{
  background: #eff3f4;
  width: 940px;
  height: 500px;
  margin: 0 auto;
}

.boxcontainer-box{
  float: left;
  background: #3274ae;
  width: 250px;
  height: 460px;
  margin-top: 20px;
  margin-left: 20px;
}

.boxcontainer-box-box{
  float: left;
  background: #eaf4ff;
  width: 210px;
  height: 400px;
  margin-top: 20px;
  margin-left: 10px;
  border: solid 10px black;


}
/* 回答はここに書いてね */
