@charset "UTF-8";

/* 回答はここに書いてね */

.text{
  font-size: 16px;
  line-height: 16px;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.boxcontainer{
  background: #eff3f4;
  width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.boxcontainer-box{
  float: left;
  padding: 20px;
  background: #3274ae;
  width: 230px;
  margin-left: 20px;
}
.boxcontainer-box:first-child{
  margin-left: 0;
}

.boxcontainer-box-box{
  background: #eaf4ff;
  padding: 20px;
  border: solid 10px black;


}
/* 回答はここに書いてね */
