@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix{
  display: block;
  content: "";
  clear: both;
  overflow: hidden;
}

.q7__box{
  width: 225px;
  margin-left: 50px;
  font-size: 16px;

}
.left{
  box-sizing:border-box;
  float: left;
  width: 225px;
}
.q7__box:first-child{
  margin-left:0;
}

.right{
  box-sizing:border-box;
  float: left;
  width: 225px;
}

.display{
  display: table;
  table-layout:fixed;

}

.display_contents{
  display: table-cell;
  vertical-align:middle;
  padding-right: 50px;
}



.display_contents:last-child{
  padding-right: 0;
}

.font{
  font-size: 0;
}
.inner_item{
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 225px;
  /*padding-right: 50px;*/


}

.inner_item:last-child{
  margin-right: 0;
}
.margin_none{
  margin-left: 0;
  width: 205px;
}
.flex_contents{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.is-full{
  width: 100%;
  box-sizing: border-box;
  font-size: 0;
}

.q7_margin_contents{
  display: inline-block;
  vertical-align: top;
}

.stable{
   width: 300px;
}
.flexible{
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}
.q7__box__text{
  padding: 10px;
  background-color: #FFF;
  font-size: 16px;
}
/* 回答はここに書いてね */
