@charset "UTF-8";

/* 回答はここに書いてね */
.q10_balloon{
  width: 500px;
  padding: 20px;
  border: solid 5px #222;
  border-radius: 30px;
  margin: 0 auto;
  position: relative;
  font-size: 16px;
  line-height: 16px;
}



.q10_balloon::before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #222;
  bottom: -45px;
  left: 35px;

}

.q10_balloon::after{
  content:"";
  position: absolute;
  width: 0;
  height: 0;
  border:20px solid transparent;
  border-top-color: #fff;
  bottom: -37px;
  left: 35px;
}

/* 回答はここに書いてね */
