@charset "UTF-8";

/* 回答はここに書いてね */


.q4-box{
  padding: 20px;

}
.q4-contents{
  display: table;
  table-layout: fixed;
  width: 100%;

}
.q4-contents-contents{
  display: table-cell;
  vertical-align: middle;
  padding: 20px 0;
  text-align: center;
  }

.q4-contents:last-child{
  margin-top: 20px;
}

.block1{
  background: #fdc8b8;
  width: 100px;
}
.block2{
  background: #e0abd9;
}
.block3{
  background: #b6d8ed;
  width: 100px;
}

.block4{
  background: #e5d32e;
}

.block5{
  background: #ec8f9a;
}
.block6{
  background: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */
