@charset "UTF-8";

/* 回答はここに書いてね */

.q9_transition{
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 333px;
  cursor: pointer;
  overflow: hidden;

}

.q9_trans_thumb{
  transition: all .5s;
}

.q9_transition:hover .q9_trans_thumb{
  transform: scale(1.5);

 }


.q9_transition:hover .q9_trans_box {
    bottom: 0;
}

.q9_trans_box{
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
  transition: all .5s;

}
.q9_trans_box_text{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: #FFF;
  box-sizing: border-box;
  word-break: break-all;

  }
.q9_spinner{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 10px solid #ecf1f2;
  border-radius: 50%;
  border-top-color: #00bcd4;
  animation: sp-anime 1.1s infinite linear;

}

@keyframes sp-anime {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
/* 回答はここに書いてね */
