@charset "UTF-8";

/* 回答はここに書いてね */


.q6__box{
  display: inline-block;
  width: 300px;
  margin: 0 10px;
  padding: 10px 0;
  font-size: 16px;
  background-color: #fff;
}

.q6_box_inner{
  text-align: center;
}

.q6_box_inner_text{
  display: inline-block;
  width: 90px;
  padding: 10px 0;
  background-color:#e6f2ff;
}
.margin{
  margin: 0 auto;
  display:block;
}

.q6_around{
  width: 300px;
  height: 200px;
  margin: 0 auto;
  background-color: #ECF1F2;
}

.table{
  display: table;
}

.q6_box{
  display: table-cell;
  background-color: #ECF1F2;
  text-align: center;
  vertical-align: middle;
}


.q6_box_text{
  display: inline-block;
  padding: 10px;
  background-color: #FFF;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;

}

.q6--around_box_text{
  padding: 10px;
  background-color: #fff;
}

.fixed{
  position: relative;

}

.inner_fixed{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}


.flexible{
  position: relative;
}

.inner_flexible{
  position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}
/* 回答はここに書いてね */
