@charset "UTF-8";

/* 回答はここに書いてね */



.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.button{
  display: inline-block;
  margin-left: 10px;
  color:#fff;
}
.button:first-of-type{
  margin-left: 0;
}
.bg-blue{
  background-color: #00bcd4;
}
.bg-pink{
  background-color: #ff4081;
}

.bg-gray{
  background-color: #e5e5e5;
}

.bg-white{
  color: black;
  background-color: white;
  box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 4px rgba(0,0,0,.12);

}
.small{
  font-size: 16px;
  line-height: 26px;
  padding: 0 15px;
  border-radius: 3px;

}
.middle{
  font-size:20px;
  line-height: 32px;
  padding: 0 20px;
  border-radius: 5px;


}
.large{
  font-size:24px;
  line-height: 38px;
  padding: 0 25px;
  border-radius: 7px;

}

.q8_form{
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ECF1F2;
}
.q8_form_title{
  position: relative;
  margin-bottom: 20px;
}
.q8_form_title::before{
  content: "";
  width: 100%;
  height: 1px;
  top: 50%;
  background-color: #ccc;
  position: absolute;
}
.q8_form_title_text{
  position: relative;
  display: inline-block;
  padding-right: 10px;
  background-color: #ECF1F2;
  font-size: 24px;
  font-weight: bold;
}

.q8_left{
  float: left;
  width: 300px;
}

.q8_right{
  float: right;
  width: 380px;
}


.q8_left_main{
  margin-bottom: 20px;
}

.q8_left_main .clearfix{
  margin-top: 20px;
}
.q8_left_main .clearfix:first-child{
  margin-top: 0px;
}


.q8_left_main_text{
  float: left;
  width: 100px;
  line-height: 25px;
  text-align: right;
}

.required{
  color: red;
}

.q8_left_main_content{
  float: right;
  width: 180px;
}

.q8_input{
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  border-style: none;
  outline: none;
  -webkit-appearance: none;
}
.q8_input:focus {
    box-shadow: 0 0 7px #00BCD4;
  }
.q8_unit{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR…jMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 16px 18px;
  background-position: 98% 50%;
  cursor: auto;
}

.q8_radio{
cursor: pointer;
}

.q8_radio_btn{
  display: none;
}

.q8_radio_text{
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.q8_radio_text:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: '';
}



.q8_radio_text::after {
  display: none;
    content: "";
    position: absolute;
    left: 4px;
    width: 8px;
    height: 8px;
    margin-top: -12px;
    background-color: #00BCD4;
    border-radius: 50%;
  }
  .q8_radio_btn:checked + .q8_radio_text::after{
    display: block;
  }

.q8_select{
  position: relative;
}
.q8_select::after{
    display: block;
    position: absolute;
    top: 4px;
    right: 10px;
    width: 8px;
    height: 8px;
    border-right: 2px solid #E5E5E5;
    border-bottom: 2px solid #E5E5E5;
    transform: rotate(45deg);
    content: "";
    pointer-events: none;
}


.q8_checkbox{
  text-align: right;
}
.q8_checkbox_btn{
  display: none;
}
.q8_checkbox_btn:checked + .q8_checkbox_text:after {
    position: absolute;
    top: 50%;
    left: 6px;
    margin-top: -14px;
    width: 8px;
    height: 16px;
    border-right: 3px solid #00BCD4;
    border-bottom: 3px solid #00BCD4;
    transform: rotate(45deg);
    content: '';
}

.q8_checkbox_text{
    position: relative;
    display: inline-block;
    padding-left: 24px;

}

.q8_checkbox_text:before{
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 16px;
    margin-top: -9px;
    background-color: #fff;
    border: 1px solid #ccc;
    content: '';
}
.q8_left_bottom{
  text-align: right;
}
.q8_left_bottom_btn{
  padding: 0 10px;
  border-radius: 5px;
  background-color: #00BCD4;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
  border: none;
  outline: none;
}
.q8_left_bottom_btn:active{
padding: 0 10px;
border-radius: 5px;
background-color: #FFF;
color:  #00BCD4;
cursor: pointer;
font-size: 16px;
line-height: 26px;
}

.q8_right_form{
  width: 100%;
  height: 203px;
  padding: 10px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  box-sizing: border-box;
  resize: none;
  border:#fff;
}
.q8_right_text{
    width: 100%;
    height: 203px;
    padding: 10px;
    border-radius: 3px;
    background-color: #FFF;
    font-size: 12px;
    box-sizing: border-box;
    resize: none;
    border: none;
    display: block;


}

/* 回答はここに書いてね */
